.two-column {
  // display: grid;
  // grid-template-columns: 25% 1fr;
  // column-gap: 10px;
  display: flex;
  flex-flow: row wrap;
  @media only screen and (min-width: 652px) {
    flex-wrap: nowrap;
  }
  &__sidebar {
    width: 100%;
    flex-grow: 1;
    @media only screen and (min-width: 652px) {
      width: 25%;
    }
  }
  &__main {
    width: 100%;
    @media only screen and (min-width: 652px) {
      width: 75%;
    }
  }
  &__half {
    width: 100%;
    margin-top:0;
    display:flex;
    justify-content:flex-start;
    @media only screen and (min-width: 652px) {
      width: 50%;
    }
    .post-thumbnail img {
      margin-top:0;
    }
  }
}
